body {
    margin: 0;
    background-image: radial-gradient(circle at center center, #070860, #066481), repeating-radial-gradient(circle at center center, #070860, #070860, 32px, transparent 64px, transparent 32px);
    background-blend-mode: multiply;
    background-color: #066481;
}

header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 80px;
}