body {
    margin: 0;
    background-image: radial-gradient(#0d0d8f 8px, transparent 8px);
    background-size: 22px 22px;
    background-color: #030335;
}
header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
button{
    width: 80px;
}
